@using Duende.IdentityServer.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<div class="nav-page">
    <nav class="flex items-center justify-between bg-gray-700 px-4 py-3">

        <a href="~/" class="flex items-center justify-start">
            <img class="h-12 w-12" src="~/duende-logo.svg" class="icon-banner" alt="Logo">
            <p class="text-white font-medium text-lg">
                Duende IdentityServer
            </p>
        </a>

        @if (!string.IsNullOrWhiteSpace(name))
        {
            <ul class="">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">@name <b class="text-white caret"></b></a>
                    
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-page="/Account/Logout/Index">Logout</a>
                    </div>
              </li>
            </ul>
        }
    
    </nav>
</div>
