@using Duende.IdentityServer.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<div class="nav-page">
    <nav class="flex items-center justify-between bg-gray-700 px-4 py-3">

        <a href="~/" class="flex items-center justify-start">
            <img class="h-12 w-12" src="~/duende-logo.svg" class="icon-banner" alt="Logo">
            <p class="text-white font-medium text-lg pl-2">
                Duende IdentityServer
            </p>
        </a>

        @if (!string.IsNullOrWhiteSpace(name))
        {
            <ul class="">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">@name <b class="text-white caret"></b></a>
                    
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-page="/Account/Logout/Index">Logout</a>
                    </div>
              </li>
            </ul>
        }
        else 
        {
            <div class="space-x-2 flex items-center justify-end">
                <a href="~/account/login" 
                   class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500"
                >
                    Login
                </a>
                <a href="~/account/register" 
                   class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                >
                    Register
                </a>
            </div>
        }
    
    </nav>
</div>
